# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=eid_website

# Email Configuration (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=guztiart06@gmail.com
SMTP_PASS=ilqx ogdd taaf rwab

# Server Configuration
PORT=5000